<!-- <ion-header>
  <ion-toolbar>
    <ion-title>CONTACT US</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="header-img">
    <!-- <img src="../../assets/images/Enchiladas.jpg" alt=""> -->
    <h2 class="header-title">CONTACT US</h2>
  </div>

  <div class="contact-container">
    <div class="contact-text">
      <div class="head-text">
        <h2>Get in Touch with La Hacienda</h2>
        <h3>We Love to Hear From You</h3>
      </div>
      <p class="head-text">Thank you for visiting La Hacienda. We are delighted to serve you and would love to hear any
        comments that you
        may have for us. Your feedback is important to us and helps us create a better experience for you. For any
        questions or concerns regarding La Hacienda, please use this form.</p>
      <p>You may also call our restaurants at their <span>Locations</span>, or our main office at <a
          href="">123-456-789</a></p>
    </div>

    <div class="contact-form">
      <form action="" method="post"></form>
    </div>
  </div>



  <!-- footer -->
  <app-footer></app-footer>
</ion-content>
