<!-- <ion-header>
  <ion-toolbar>
    <ion-title>CONTACT US</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="header-img">
    <!-- <img src="../../assets/images/Enchiladas.jpg" alt=""> -->
    <h2 class="header-title">CONTACT US</h2>
  </div>

  <div class="contact-container">
    <div class="contact-text">
      <div class="head-text">
        <h2>GET IN TOUCH WITH LA HACIENDA</h2>
        <h3>We'd Love to Hear From You</h3>
      </div>
      <p class="head-text">Thank you for visiting La Hacienda. We are delighted to serve you and would love to hear any
        comments that you
        may have for us. Your feedback is important to us and helps us create a better experience for you. For any
        questions or concerns regarding La Hacienda, please use this form.</p>
      <p>You may also call our restaurants at their <span class="locations">Locations</span>, or our main office at <a
          href="" class="phone">123-456-789</a></p>
    </div>

    <div class="decor-line"></div>

    <div class="form-container">
      <form action="">
        <input type="text" id="fname" name="name" placeholder="Name*" required>
        <input type="tel" id="phone" name="phone" placeholder="Phone*">
        <input type="text" id="email" name="email" placeholder="Email*" required>

        <!-- <label for="country">Select Location</label> -->
        <select id="country" name="country" required>
          <option value="">Select Location</option>
          <option value="australia">South Jordan</option>
          <option value="canada">Salt Lake City</option>
          <option value="usa">Draper</option>
        </select>

        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px" required></textarea>

        <input type="submit" value="Submit">
      </form>
    </div>
  </div>



  <!-- footer -->
  <app-footer></app-footer>
</ion-content>
