<!-- <ion-header>
  <ion-toolbar>
    <ion-title>CAREERS</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="header-img">
    <h2 class="header-title">CAREERS</h2>
  </div>





  <div class="footer-container">

    <div class="footer-tabs">
      <h2 class="footer-tab-header">ABOUT</h2>
      <p class="footer-tab-sub">Contact Us</p>
      <p class="footer-tab-sub">About La Hacienda</p>
      <p class="footer-tab-sub">Careers</p>
    </div>

    <div class="footer-tabs">
      <h2 class="footer-tab-header">GIFT CARDS & OFFERS</h2>
      <p class="footer-tab-sub">Buy Gift Cards</p>
      <p class="footer-tab-sub">Check Balances</p>
    </div>

    <div class="footer-tabs">
      <h2 class="footer-tab-header">ORDERING</h2>
      <p class="footer-tab-sub">Order To Go</p>
      <p class="footer-tab-sub">Locations</p>
    </div>

  </div>
</ion-content>
