* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  background: white;
  --background: white;
}


ion-tab-button {
  font-family: 'Proxima-Black';
  // background-color: #ECEBE6;
  background-color: white;
  --ripple-color: transparent;
  color: rgb(181, 0, 0);
  --color-selected: rgba(0, 0, 0, 0.34);
  margin-right: 1rem;
  font-size: .8rem;
}

.nav-tabs {
  display: flex;
  padding-right: 1rem;
}

.location-label {
  display: flex;
}

ion-icon {
  padding-left: 2px;
}

ion-label {
  white-space: nowrap;
}

ion-label:hover {
  color: rgba(0, 0, 0, 0.34);
}

.title-div {
  cursor:pointer;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 2rem;
}

.title {
  font-family: 'Satisfy', cursive;
  font-weight: 600;
  color: black;
  // color: red;
  font-size: 2.8rem;
}

.title-img {
  max-width: 15rem;
}

.under-title {
  color: black;
  // color: red;
  font-size: 1rem;
  letter-spacing: 1px;
}

.icon-div {
  display: none;
}



ion-button {
  --background: white;
  --background-activated: transparent;
  --border-style: none;
  --border-color: transparent;
  --box-shadow: none;
}

// popover modal
.modal-content {
  --background: rgb(255, 255, 255);
  background-color: white;
  background: white;
  --background-color: white;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.close-btn {
  padding-right: 1rem;
  padding-top: 1rem;
  --background: transparent;
}

.modal-tabs {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: center;
  border-bottom: 2px solid black;
  margin: 0 15px;
}

.modal-btn {
  margin: 0;
  padding: 0;
  min-width: 120%;
  font-size: 1.5rem;
  margin-bottom: 3.5rem;
  white-space: nowrap;
}

.modal-label {
  white-space: nowrap;
  overflow: visible;
}

.modal-header-text {
  color: black;
  font-family: 'Satisfy', cursive;
}

.active-label {
  color: black;
  // border-bottom: 2px solid black;
}

@media only screen and (max-width: 900px) {
  ion-tab-bar{
    flex-direction: column;
    padding-bottom: 3rem;
    padding-top: .5rem;
  }

  ion-tab-button {
    padding: 0;
    font-size: .75rem;
  }

  .title-div {
    margin: 0;
    margin-bottom: 1rem;
  }

  .title {
    font-size: 2.3rem;
  }

  .under-title {
    font-size: .8rem;
    letter-spacing: 1px;
  }

  .nav-tabs {
    padding: 0;
  }
}

@media only screen and (max-width: 700px) {
  ion-tab-bar{
    padding: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    flex-direction: row;
  }

  ion-tab-button {
    padding: 0;
  }

  .title-div {
    margin: 0;
  }

  .title {
    font-size: 1.8rem;
  }

  .under-title {
    font-size: .9rem;
  }

  .nav-tabs {
    display: none;
    visibility: hidden;
  }

  .icon-div {
    display: block;
    padding-right: 1rem;
  }


}


