@font-face {
  font-family: 'Quigley';
  src: url('../../assets/Fonts/QUIGLEYW-webfont.ttf');
}

@font-face {
  font-family: 'Proxima-Sbold';
  src: url('../../assets/Fonts/ProximaNova-Sbold.ttf')
}

@font-face {
  font-family: 'Proxima-Slight';
  src: url('../../assets/Fonts/ProximaNova-Reg.ttf')
}
@font-face {
  font-family: 'Proxima-Light';
  src: url('../../assets/Fonts/ProximaNova-Thin.ttf')
}

@font-face {
  font-family: 'Proxima-Bold';
  src: url('../../assets/Fonts/Proxima Nova Black.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.test-bar {
  display: flex;
  background-color: rgb(181, 0, 0);
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
  // position: fixed;
}

.test-btn {
  cursor: pointer;
}


ion-content {
  --background: rgb(228, 224, 220);
  // --background: url('../../assets/images/brickpattern.jpg');
  // --background: url('../../assets/images/brickpattern.jpg');
  // filter: brightness(.8)

}

.test-btn {
  font-family: 'Proxima-Black';
  font-size: 1.2rem;
  padding: 1rem 1rem;
  background-color: transparent;
  color: white;
  z-index: 999;
  white-space: nowrap;
}


.navbara {
  margin: 0;
  padding: 0;
  overflow: auto;
  position: sticky;
  top:0;
  left: 0;
  white-space: nowrap;
}

.links {
  background: rgb(181, 0, 0);
  display: inline-block;
  font-size: 1.2rem;
  cursor: pointer;
}


::-webkit-scrollbar {

   height: 3px;


   background: rgb(181, 0, 0);

}

::-webkit-scrollbar-thumb {

   height: 5px;

   background: #212121;

}

.active-btn {
  // background-color: black;
  color: black;
}

.small-screen {
  visibility: hidden;
  display: none;
}

.sec-div {
  display: flex;
  color: black;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.sec-div h2 {
  color: black;
  font-family: 'Proxima-Black';
  // font-family: 'Quigley';
  font-size: 4.3rem;
  // border-bottom: 2px solid black;
}

.food-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 5rem;
  margin-bottom: 10rem;
}

.food-item-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 250px;
  margin: 1rem 1rem;
  margin-bottom: 2rem;
}

.food-item-div img {
  width: 250px;
  margin-bottom: 1rem;
}

.food-item-text {
  display: flex;
  flex-direction: column;
  color: black;
}

.price-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: .5rem;
}

.food-item-text h2{
  // font-family: 'Proxima-Sbold';
  font-family: 'Proxima-Slight';
  color:rgb(181, 0, 0);
  font-size: 1.5rem;
  max-width: 200px;
}
.food-item-descrip{
  font-family: 'Proxima-Sbold';
  font-size: .9rem;
}

.price {
  font-family: 'Proxima-Bold';
  font-size: 1.1rem;
  // background-color: black;
  // color: white;
  color: black;
  border-radius: 2px;
  padding: 2px 5px;
}

.addition-text {
  font-family: 'Proxima-Slight';
  width: fit-content;
  font-size: .8rem;
  border-radius: 5px;
  color: black;
  padding: 5px;
  border: 1.4px dashed red;
}

// footer
.footer-container {
  width: 100%;
  background-color: rgb(181, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.footer-tab-header {
  font-family: 'Proxima-Black';
  font-size: 1.2rem;
  padding-bottom: .5rem;
}

.footer-tab-sub {
  font-family: 'ProximaNova-Reg';
  font-size: 1rem;
  margin-bottom: .5rem;
}

.footer-tab-sub:hover {
  border-bottom: 1px solid white;
}

.cover-div {
  height: 400px;
}

@media only screen and (max-width: 900px) {
  .links {
    font-size: 1.1rem;
  }

  .sec-div h2 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .links {
    font-size: 1rem;
  }

  .sec-div h2 {
    font-size: 2.5rem;
  }


  .footer-container {
    flex-direction: column;
  }

  .footer-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
  }

}

@media only screen and (max-width: 450px) {

  .small-screen {
    visibility: visible;
    display: block;
  }

  .large-screen {
    visibility: hidden;
    display: none;
  }

  .food-list-container {
    margin: 0;
    padding: 0;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
  }

}
