<ion-tabs>



  <ion-tab-bar slot="top">

    <div class="title-div" (click)="navigateHome()">
      <!-- <h2 class="title">La Hacienda</h2>
      <p class="under-title">Mexican Restaurant</p> -->
      <ion-img class="title-img" src="assets/images/LaHacienda-text.png"></ion-img>
    </div>

    <div class="icon-div">
      <ion-icon size="large" name="menu-outline"></ion-icon>
    </div>

    <div class="nav-tabs">
      <ion-tab-button [ngClass]="{'active-label': activePage === '1'}" (click)="activeTab('1')" class="nav-btn"
        tab="tab6">
        <!-- <ion-icon name="triangle"></ion-icon> -->
        <ion-label class="nav-label">ABOUT US</ion-label>
      </ion-tab-button>

      <ion-tab-button [ngClass]="{'active-label': activePage === '2'}" (click)="activeTab('2')" class="nav-btn"
        tab="tab2">
        <!-- <ion-icon name="ellipse"></ion-icon> -->
        <ion-label class="nav-label">MENU</ion-label>
      </ion-tab-button>

      <ion-tab-button [ngClass]="{'active-label': activePage === '3'}" (click)="activeTab('3')" class="nav-btn"
        tab="tab3">
        <!-- <ion-icon name="square"></ion-icon> -->
        <ion-label class="nav-label">LOCATIONS</ion-label>
      </ion-tab-button>

      <ion-tab-button [ngClass]="{'active-label': activePage === '4'}" (click)="activeTab('4')" class="nav-btn"
        tab="tab4">
        <!-- <ion-icon name="square"></ion-icon> -->
        <ion-label class="nav-label">CAREERS</ion-label>
      </ion-tab-button>

      <ion-tab-button [ngClass]="{'active-label': activePage === '5'}" (click)="activeTab('5')" class="nav-btn"
        tab="tab5">
        <!-- <ion-icon name="square"></ion-icon> -->
        <ion-label class="nav-label">CONTACT US</ion-label>
      </ion-tab-button>
    </div>
  </ion-tab-bar>

</ion-tabs>
