<ion-content [fullscreen]="true">

  <header>
    <!-- <img src="../../assets/images/hybrid-storytellers-2M9-LTrpxJw-unsplash.jpg" alt="Five developers at work."> -->
    <!-- <img src="assets/images/homepagefood.jpg" alt=""> -->
    <!-- <img src="assets/images/hopepagefood2.jpg" alt=""> -->
    <!-- <img src="assets/images/crophome.jpg" alt=""> -->
    <!-- <img src="../../assets/images/pexels-chitokan-2087748.jpg" alt=""> -->
    <img src="../../assets/images/pexels-sabel-blanco-3073970.jpg" alt="">
    <section class='hero-header-text'>
      <h1 class="img-text">La</h1>
      <h1 class="img-text spacing-bot"> Hacienda</h1>
      <h1 class="img-under_text">MEXICAN RESTAURANT</h1>
      <div class="btn-container">
        <button (click)="navMenu()" class="section-btn">View Menu</button>
        <button class="section-btn">Order Online</button>
      </div>
    </section>
  </header>

  <app-footer></app-footer>


  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
