* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header img {
  width: 100vw;
  height: 90vh;
  object-fit: cover;
  filter: brightness(.8);
}

header {
  background-color: rgb(181, 0, 0);
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Satisfy', cursive;
  text-align: center;
}

@font-face {
  font-family: 'Quigley';
  src: url('../../assets/Fonts/QUIGLEYW-webfont.ttf');
}

.img-text {
  // font-family: 'Satisfy', cursive;
  // font-family: 'Leckerli One', cursive;
  // font-family: 'Proxima-Black';
  font-family: "Quigley";
  font-weight: 900;
  line-height: 9rem;
  font-size: 14rem;
  letter-spacing: 1px;
  color: rgb(249,252,204);
  white-space: nowrap;
}

.img-under_text {
  font-family: 'ProximaNova-Reg';
  font-weight: 600;
  font-size: 2.5rem;
  white-space: nowrap;
  margin-bottom: 1rem;
  letter-spacing: 1rem;
  margin-top: 1rem;
  color: rgb(249,252,204);
}


.btn-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.section-btn {
  font-family: 'ProximaNova-Reg';
  font-size: 2rem;
  font-weight: 200;
  background-color: transparent;
  color:rgb(249,252,204);
  border: 1.5px solid rgb(249,252,204);
  border-radius: 50px;
  padding: .8rem 2.5rem;
  // margin-right: 1rem;
  // margin-left: 1rem;
  max-width: 9em;
  white-space: nowrap;
  text-align: center;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.section-btn:hover {
  transition: .5s;
  background-color: rgb(181, 0, 0);
  border:1.5px solid rgb(181, 0, 0);
  color: rgb(249,252,204);
}



// footer
.footer-container {
  width: 100%;
  background-color: rgb(181, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.footer-tab-header {
  font-family: 'Proxima-Black';
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.footer-tab-sub {
  font-family: 'ProximaNova-Reg';
  font-size: 1.2rem;
  margin-bottom: .5rem;
  cursor: pointer;
}

.footer-tab-sub:hover {
  border-bottom: 1px solid white;
}

@media only screen and (max-width: 900px) {
  .img-text {
    font-weight: 900;
    line-height: 9rem;
    font-size: 12rem;
  }

  .img-under_text {
    font-size: 2.5rem;
    letter-spacing: .7rem;
  }

  .section-btn {
    font-family: 'ProximaNova-Reg';
    font-size: 1.5rem;
    color: white;
    border: 1.5px solid white;
    border-radius: 50px;
    padding: .7rem 2rem;
    // margin-right: 1rem;
    // margin-left: 1rem;
    max-width: 9em;
    white-space: nowrap;
    text-align: center;
  }
}

@media only screen and (max-width: 700px) {

  header img {
    width: 100vw;
    height: 90vh;
  }

  .img-text {
    font-weight: 900;
    line-height: 6rem;
    font-size: 9rem;
    margin-bottom: .5rem;
  }

  .img-under_text {
    font-size: 2rem;
    letter-spacing: .5rem;
  }



  .section-btn {
    margin: 0 1rem;

    font-size: 1.2rem;

  }

  .footer-container {
    flex-direction: column;
  }

  .footer-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 500px) {

  .img-text {
    font-weight: 900;
    line-height: 4.5rem;
    font-size: 7.5rem;
  }

  .img-under_text {
    font-size: 1.7rem;
  }

  header img {
    width: 100vw;
    height: 80vh;
  }

  section {
    position: absolute;
    top: 40%;
    left: 50%;
  }

  .img-under_text {
    letter-spacing: .2rem;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-btn {
    font-size: 2rem;
    padding: .5rem 1rem;



    margin-bottom: .5rem;
  }

  .footer-tab-header {
    font-size: 1rem;
  }

  .footer-tab-sub {
    font-size: .9rem;
  }


}

.mall-slide {
  // position: absolute;
  top: 0;
  background-color: #f5f5f5;
  width: 100%;
  // height: 430px;
  height: 85vh;
  z-index: -1;
}

.mall-slide .slid-content {
  width: 100%;
  height: 85vh !important;
  overflow: hidden;
  transition: all .2s ease-in-out;
  animation: slide 10s infinite;
}

.mall-show-slide {
  height: 85vh;
}

.mall-show-slide img {
  height: 85vh;
  object-fit: cover;
  // filter: brightness(1);
}

.mall-slide .slid-content .mall-carousel-ind {
  position: absolute;
  bottom: 110px;
  width: 100%;
  line-height: 0!important;
  text-align: center;
  font-size: 0;
  z-index: 10;
}

.mall-carousel-ind ul {
  display: inline-block;
  padding: 5px;
  background-color: rgba(0, 0, 0, .2);
  border-radius: 10px;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

.mall-carousel-ind li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 3px;
  font-size: 14px;
  background-color: #e2e2e2;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}


.mall-carousel-ind li.mall-this {
    background-color: #fff;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
    width: 30px;
    border-radius: 14px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
  transition: all 5s ease-in-out;
}

@-webkit-keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

.section {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Satisfy', cursive;
  text-align: center;
}
