* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header img {
  width: 100vw;
  height: 90vh;
  object-fit: cover;
  filter: brightness(.8);
}

header {
  background-color: rgb(181, 0, 0);
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Satisfy', cursive;
  text-align: center;
}

@font-face {
  font-family: 'Quigley';
  src: url('../../assets/Fonts/QUIGLEYW-webfont.ttf');
}

.img-text {
  // font-family: 'Satisfy', cursive;
  // font-family: 'Leckerli One', cursive;
  // font-family: 'Proxima-Black';
  font-family: "Quigley";
  font-weight: 900;
  line-height: 9rem;
  font-size: 14rem;
  letter-spacing: 1px;
  color: rgb(249,252,204);
  white-space: nowrap;
}

.img-under_text {
  font-family: 'ProximaNova-Reg';
  font-weight: 600;
  font-size: 2.5rem;
  white-space: nowrap;
  margin-bottom: 1rem;
  letter-spacing: 1rem;
  margin-top: 1rem;
  color: rgb(249,252,204);
}


.btn-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.section-btn {
  font-family: 'ProximaNova-Reg';
  font-size: 2rem;
  font-weight: 200;
  background-color: transparent;
  color:rgb(249,252,204);
  border: 1.5px solid rgb(249,252,204);
  border-radius: 50px;
  padding: .8rem 2.5rem;
  // margin-right: 1rem;
  // margin-left: 1rem;
  max-width: 9em;
  white-space: nowrap;
  text-align: center;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.section-btn:hover {
  transition: .5s;
  background-color: rgb(181, 0, 0);
  border:1.5px solid rgb(181, 0, 0);
  color: rgb(249,252,204);
}



// footer
.footer-container {
  width: 100%;
  background-color: rgb(181, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.footer-tab-header {
  font-family: 'Proxima-Black';
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.footer-tab-sub {
  font-family: 'ProximaNova-Reg';
  font-size: 1.2rem;
  margin-bottom: .5rem;
  cursor: pointer;
}

.footer-tab-sub:hover {
  border-bottom: 1px solid white;
}

@media only screen and (max-width: 900px) {
  .img-text {
    font-weight: 900;
    line-height: 9rem;
    font-size: 12rem;
  }

  .img-under_text {
    font-size: 2.5rem;
    letter-spacing: .7rem;
  }

  .section-btn {
    font-family: 'ProximaNova-Reg';
    font-size: 1.5rem;
    color: white;
    border: 1.5px solid white;
    border-radius: 50px;
    padding: .7rem 2rem;
    // margin-right: 1rem;
    // margin-left: 1rem;
    max-width: 9em;
    white-space: nowrap;
    text-align: center;
  }
}

@media only screen and (max-width: 700px) {

  header img {
    width: 100vw;
    height: 90vh;
  }

  .img-text {
    font-weight: 900;
    line-height: 6rem;
    font-size: 9rem;
    margin-bottom: .5rem;
  }

  .img-under_text {
    font-size: 2rem;
    letter-spacing: .5rem;
  }



  .section-btn {
    margin: 0 1rem;

    font-size: 1.2rem;

  }

  .footer-container {
    flex-direction: column;
  }

  .footer-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 500px) {

  .img-text {
    font-weight: 900;
    line-height: 4.5rem;
    font-size: 7.5rem;
  }

  .img-under_text {
    font-size: 1.7rem;
  }

  header img {
    width: 100vw;
    height: 80vh;
  }

  section {
    position: absolute;
    top: 40%;
    left: 50%;
  }

  .img-under_text {
    letter-spacing: .2rem;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-btn {
    font-size: 2rem;
    padding: .5rem 1rem;



    margin-bottom: .5rem;
  }

  .footer-tab-header {
    font-size: 1rem;
  }

  .footer-tab-sub {
    font-size: .9rem;
  }


}
