<ion-content [fullscreen]="true">

  <!-- <header>
    <img src="../../assets/images/facebookhomeimg.jpeg" alt="">
    <section class='hero-header-text'>
      <h1 class="img-text">La</h1>
      <h1 class="img-text spacing-bot"> Hacienda</h1>
      <h1 class="img-under_text">MEXICAN RESTAURANT</h1>
      <div class="btn-container">
        <button (click)="navMenu()" class="section-btn">View Menu</button>
        <button class="section-btn" (click)="navLocation()">Order Online</button>
      </div>
    </section>
  </header> -->

  <div class="mall-slide">
    <div class="slid-content">
      <div class="mall-show-slide fade" *ngFor="let item of Imagedata;">
        <img src="{{item}}" style="width:100%; transition: 2s;">
        <!-- <div class="section">
          <h1 class="img-text">La</h1>
          <h1 class="img-text spacing-bot"> Hacienda</h1>
          <h1 class="img-under_text">MEXICAN RESTAURANT</h1>
          <div class="btn-container">
            <button (click)="navMenu()" class="section-btn">View Menu</button>
            <button class="section-btn" (click)="navLocation()">Order Online</button>
          </div>
        </div> -->
      </div>
      <!-- <div class="mall-carousel-ind">
        <ul>
          <li *ngFor="let item of Imagedata; let i = index;" [class.mall-this]="startIndex - 1 === i"></li>
        </ul>
      </div> -->
    </div>
  </div>

  <app-footer></app-footer>


  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
