<ion-content [fullscreen]="true">

  <!-- <div class="container">
    <img src="../../assets/images/hybrid-storytellers-2M9-LTrpxJw-unsplash.jpg" alt="">
    <div class="centered">
      <p class="img-text">La</p>
      <p class="img-text">Hacienda</p>
      <p class="img-under_text">MEXICAN RESTAURANT</p>
    </div>
  </div> -->
  <header>
    <img src="../../assets/images/hybrid-storytellers-2M9-LTrpxJw-unsplash.jpg" alt="Five developers at work.">
    <section class='hero-header-text'>
      <h1 class="img-text">La</h1>
      <h2 class="img-text">Hacienda</h2>
      <h3 class="img-under_text">MEXICAN RESTAURANT</h3>
      <div class="btn-container">
        <button (click)="navMenu()" class="section-btn">View Menu</button>
        <button class="section-btn">Order Online</button>
      </div>
    </section>
  </header>

  <div class="footer-container">
    <h2>FOOTER WILL BE HERE</h2>
  </div>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
