<ion-content [fullscreen]="true">


  <div class="container">
    <!-- <img class="food-img" src="../../assets/images/sean-benesh-6K_LVfCq--E-unsplash (2).jpg" alt="">
     -->
    <img class="food-img" src="../../assets/images/BackgroundImg (1).jpg" alt="">
    <div class="bottomleft">
      <div class="la-hacienda-split">
        <div class="location-div">
          <h2 class="fresh-text">La Hacienda</h2>
          <h2 class="fresh-text">Draper</h2>
          <a target="_blank"
            href="https://www.google.com/maps?q=la+hacienda+draper&rlz=1C5CHFA_enUS777US777&um=1&ie=UTF-8&sa=X&ved=2ahUKEwjSjYOp1_L5AhUThIkEHXzgADQQ_AUoAnoECAEQBA"
            class="info-text">12434 Minuteman Dr, Draper, UT 84020</a>
          <button class="location-btn"><a target="_blank" href="https://lahaciendadraper.hrpos.heartland.us/">ORDER
              HERE</a></button>
        </div>
        <div class="location-div">
          <h2 class="fresh-text">La Hacienda</h2>
          <h2 class="fresh-text">South Jordan</h2>
          <a target="_blank"
            href="https://www.google.com/maps?q=la+hacienda+south+jordan&rlz=1C5CHFA_enUS777US777&sxsrf=ALiCzsY4Eif-eoSlOAF8m36ohoHV0BPKiA:1662003984785&uact=5&gs_lcp=Cgdnd3Mtd2l6EAMyCwguEIAEEMcBEK8BMgUIABCABDIGCAAQHhAWMgYIABAeEBYyBggAEB4QFjIFCAAQhgMyBQgAEIYDMgUIABCGAzIFCAAQhgM6CggAEEcQsAMQyQM6BwgAEEcQsAM6BwgAELADEEM6EgguEMcBENEDEMgDELADEEMYAToSCC4QxwEQrwEQyAMQsAMQQxgBOhAILhCABBCHAhDHARCvARAUOgoIABCABBCHAhAUOg0ILhCABBDHARCvARAKSgQIQRgASgQIRhgBUMYEWMoNYMMOaAFwAXgBgAHFAogBmxGSAQcwLjMuNC4ymAEAoAEByAETwAEB2gEGCAEQARgI&um=1&ie=UTF-8&sa=X&ved=2ahUKEwiT_O251_L5AhWwl4kEHda-A9cQ_AUoAnoECAIQBA"
            class="info-text"> 11718 3600 W, South Jordan, UT 84095</a>
          <button class="location-btn"><a target="_blank"
              href="https://lahaciendasouthjordan.hrpos.heartland.us/menu">ORDER
              HERE</a></button>
        </div>
        <div class="location-div">
          <h2 class="fresh-text">La Hacienda</h2>
          <h2 class="fresh-text">Salt Lake City</h2>
          <a target="_blank"
            href="https://www.google.com/maps/place/La+Hacienda+Salt+Lake/@40.7423285,-111.9420312,17z/data=!3m1!4b1!4m5!3m4!1s0x8752f4bcde605a91:0x7df64193be3901f6!8m2!3d40.7423258!4d-111.9397696"
            class="info-text">1248 S Redwood Rd, Salt Lake City, UT 84104</a>
          <button class="location-btn"><a target="_blank" href="https://lahaciendaslc.hrpos.heartland.us/menu">ORDER
              HERE</a></button>
        </div>
      </div>
    </div>

  </div>

  <div class="location-small">
    <h2 class="fresh-text">La Hacienda</h2>
    <h2 class="fresh-text">Draper</h2>
    <a href="/" class="info-text">12434 Minuteman Dr, Draper, UT 84020</a>
    <button class="location-btn"><a target="_blank" href="https://lahaciendadraper.hrpos.heartland.us/">ORDER
        HERE</a></button>
  </div>
  <div class="location-small">
    <h2 class="fresh-text">La Hacienda</h2>
    <h2 class="fresh-text">South Jordan</h2>
    <a href="/" class="info-text"> 11718 3600 W, South Jordan, UT 84095</a>
    <button class="location-btn"><a target="_blank" href="https://lahaciendasouthjordan.hrpos.heartland.us/menu">ORDER
        HERE</a></button>
  </div>
  <div class="location-small">
    <h2 class="fresh-text">La Hacienda</h2>
    <h2 class="fresh-text">Salt Lake City</h2>
    <a href="/" class="info-text">1248 S Redwood Rd, Salt Lake City, UT 84104</a>
    <button class="location-btn"><a target="_blank" href="https://lahaciendaslc.hrpos.heartland.us/menu">ORDER
        HERE</a></button>
  </div>
  <div class="hacienda-grill-container">
    <div class="hacienda-img">
      <img src="../../assets/images/Hacienda Grill Logo.png" alt="">
    </div>
    <div class="grill-text">
      <h2 class="fresh-text">Hacienda Mexican Grill</h2>
      <a href="/" class="info-text">797 N Redwood Rd, Salt Lake City, UT 84116</a>
      <button class="location-btn no-margin"><a target="_blank"
          href="https://haciendagrillrosepark.hrpos.heartland.us/menu">ORDER
          HERE</a></button>
    </div>

  </div>
  <app-footer></app-footer>
</ion-content>
