<ion-content [fullscreen]="true">


  <div class="container">
    <!-- <img class="food-img" src="../../assets/images/sean-benesh-6K_LVfCq--E-unsplash (2).jpg" alt="">
     -->
    <img class="food-img" src="../../assets/images/BackgroundImg.jpg" alt="">
    <div class="bottomleft">
      <div class="la-hacienda-split">
        <div class="location-div">
          <h2 class="fresh-text">La Hacienda</h2>
          <h2 class="fresh-text">Draper</h2>
          <a href="/" class="info-text">12434 Minuteman Dr, Draper, UT 84020</a>
          <button class="location-btn">ORDER HERE</button>
        </div>
        <div class="location-div">
          <h2 class="fresh-text">La Hacienda</h2>
          <h2 class="fresh-text">South Jordan</h2>
          <a href="/" class="info-text"> 11718 3600 W, South Jordan, UT 84095</a>
          <button class="location-btn">ORDER HERE</button>
        </div>
        <div class="location-div">
          <h2 class="fresh-text">La Hacienda</h2>
          <h2 class="fresh-text">Salt Lake City</h2>
          <a href="/" class="info-text">1248 S Redwood Rd, Salt Lake City, UT 84104</a>
          <button class="location-btn">ORDER HERE</button>
        </div>
      </div>
    </div>

  </div>

  <div class="location-small">
    <h2 class="fresh-text">La Hacienda</h2>
    <h2 class="fresh-text">Draper</h2>
    <a href="/" class="info-text">12434 Minuteman Dr, Draper, UT 84020</a>
    <button class="location-btn">ORDER HERE</button>
  </div>
  <div class="location-small">
    <h2 class="fresh-text">La Hacienda</h2>
    <h2 class="fresh-text">South Jordan</h2>
    <a href="/" class="info-text"> 11718 3600 W, South Jordan, UT 84095</a>
    <button class="location-btn">ORDER HERE</button>
  </div>
  <div class="location-small">
    <h2 class="fresh-text">La Hacienda</h2>
    <h2 class="fresh-text">Salt Lake City</h2>
    <a href="/" class="info-text">1248 S Redwood Rd, Salt Lake City, UT 84104</a>
    <button class="location-btn">ORDER HERE</button>
  </div>
  <div class="hacienda-grill-container">
    <div class="hacienda-img">
      <img src="../../assets/images/Hacienda Grill Logo.png" alt="">
    </div>
    <div class="grill-text">
      <h2 class="fresh-text">Hacienda Mexican Grill</h2>
      <a href="/" class="info-text">797 N Redwood Rd, Salt Lake City, UT 84116</a>
      <button class="location-btn no-margin">ORDER HERE</button>
    </div>

  </div>
  <app-footer></app-footer>
</ion-content>
