* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
}

.bottomleft {
  position: absolute;
  // bottom: 4px;
  right: 50%;
  font-size: 18px;
  height: 400px;
  width: 450px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
}

.clear-text{
  position: absolute;
  background-color: transparent;
  height: 400px;
  width: 450px;
  left: 50%;
}

.food-img {
  width: 100%;
  height: auto;
  // opacity: 0.3;
}

.taco-icon {
  height: 50px;
  width: 50px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
}

.text {
  color: rgb(181, 0, 0);
  margin-top: 5rem;
  text-align: center;
}

.fresh-text {
  color: rgb(181, 0, 0);
  font-size: 1.7rem;
  text-align: center;
  letter-spacing: 1px;
}

.info-text {
  color: rgb(181, 0, 0);
  font-size: 1rem;
  padding: 1rem 2rem;
  text-align: center;
}

.bottom-container {
  background: white;
  // height: 100vh;
  width: 100%;
}

.cover {
  object-fit: cover;
  width: 450px;
  height: 400px;
}

.text-box {
  height: 400px;
  width: 450px;
  background-color: #F9FCCC;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hacienda-img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.last-container {

  position: relative;
  background-color: white;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;

  justify-content: center;
  padding-bottom: 5rem;
}

.last-bottomleft {
  position: absolute;
  // bottom: 4px;
  // right: 5%;
  font-size: 18px;
  height: 350px;
  width: 750px;
  background-color: red;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}

.order-img {
  object-fit: cover;
  width: 900px;
  height: 500px;
  filter: brightness(.8);
}

.order-text {
  color: #F9FCCC;
  font-size: 1.7rem;
  text-align: center;
}

.margin-bot {
  margin-bottom: 3rem;
}

.order-info-text {
  color: #F9FCCC;
  font-size: 1rem;
  text-align: center;
  padding: 0 6rem;
  margin-bottom: 2rem;
}

.order-btn {
  background-color: #F9FCCC;
  padding: .6rem 2rem;
  color: red;
}

.order-btn:hover {
  background-color: red;
  color: #F9FCCC;
  border: 1px solid #F9FCCC;
}

// footer
.footer-container {
  width: 100%;
  background-color: rgb(181, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.footer-tab-header {
  font-family: 'Proxima-Black';
  font-size: 1.2rem;
  padding-bottom: .5rem;
}

.footer-tab-sub {
  font-family: 'ProximaNova-Reg';
  font-size: 1rem;
  margin-bottom: .5rem;
}

.footer-tab-sub:hover {
  border-bottom: 1px solid white;
}

.cover-div {
  height: 400px;
}





@media only screen and (max-width: 900px) {


.bottomleft {
  height: 300px;
  width: 350px;
}

.clear-text{
  height: 300px;
  width: 350px;
}

.taco-icon {
  height: 30px;
  width: 30px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.fresh-text {
  font-size: 1.4rem;
}

.info-text {
  font-size: .8rem;
}

.bottom-container {
  width: 100%;
}

.cover {
  width: 350px;
  height: 300px;
}

.cover-div {
  height: 300px;
}

.text-box {
  height: 300px;
  width: 350px;
}

.last-container {
  padding-bottom: 3rem;
}

.last-bottomleft {
  height: 250px;
  width: 550px;
}

.order-img {
  width: 700px;
  height: 400px;
}

.order-text {
  font-size: 1.3rem;
}

.margin-bot {
  margin-bottom: 1.5rem;
}

.order-info-text {
  font-size: .8rem;
  padding: 0 4rem;
  margin-bottom: 1rem;
}

.order-btn {
  background-color: #F9FCCC;
  padding: .3rem 1.4rem;
  color: red;
}

.order-btn:hover {
  background-color: red;
  color: #F9FCCC;
  border: 1px solid #F9FCCC;
}
}








@media only screen and (max-width: 700px) {

  .footer-container {
    flex-direction: column;
  }

  .footer-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 450px) {




}
