<ion-content>
  <div class="top-bar">
    <h2 class="title">La Hacienda's Story</h2>
  </div>
  <header>
    <img src="../../assets/images/lindsay-moe-WZzrQX5k2Ug-unsplash.jpg" alt="">
    <!-- <img src="../../assets/images/jarritos-mexican-soda-E0txIcqePac-unsplash.jpg"> -->
    <!-- <img src="../../assets/images/tai-s-captures-JiRSy0GfqPA-unsplash.jpg" alt=""> -->
    <!-- <section class='hero-header-text'>
      <h1 class="img-text">La</h1>
      <h2 class="img-text"> Hacienda</h2>
      <h3 class="img-under_text">MEXICAN RESTAURANT</h3>
    </section> -->
    <div class="container-img-text">
      <div class="text">
        <!-- <ion-icon size="large" name="fast-food-outline"></ion-icon> -->
        <img class="taco-icon" src="../../assets/icon/taco.png" alt="">
        <i class="fal fa-taco"></i>
        <h2 class="fresh-text">Freshness In</h2>
        <h2 class="fresh-text"> Every Bite</h2>
        <p class="info-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad aut quasi molestias. Ipsum
          neque officia vero doloribus error, sequi temporibus. Optio, dolorum. Architecto excepturi, tempore illum eius
          voluptas quas tenetur?</p>
      </div>
    </div>
  </header>
</ion-content>
