<ion-content>


  <!-- <div class="top-bar">

    <h2 class="title">La Hacienda's Story</h2>
  </div> -->

  <div class="container">
    <img class="food-img" src="../../assets/images/AboutBackground.jpg" alt="" loading="lazy">
    <div class="bottomleft"> <img class="taco-icon" src="../../assets/icon/taco.png" alt="" loading="lazy">
      <h2 class="fresh-text">Freshness In</h2>
      <h2 class="fresh-text"> Every Bite</h2>
      <p class="info-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad aut quasi molestias. Ipsum
        neque officia vero doloribus error, sequi temporibus. Optio, dolorum. Architecto excepturi, tempore illum eius
        voluptas quas tenetur?</p>
    </div>
    <div class="clear-text"></div>
  </div>
  <div class="bottom-container">
    <div class="hacienda-img-container">
      <div class="cover-div">
        <!-- <img class="cover" [defaultImage]="defaultImage1" [lazyLoad]="image1" /> -->
        <img class="cover" src="{{image1}}" alt="">
      </div>
      <div class="text-box"> <img class="taco-icon" src="../../assets/icon/taco.png" alt="">
        <h2 class="fresh-text">The Authentic</h2>
        <h2 class="fresh-text">Mexican Taste</h2>
        <p class="info-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad aut quasi molestias. Ipsum
          neque officia vero doloribus error, sequi temporibus. Optio, dolorum. Architecto excepturi, tempore illum eius
          voluptas quas tenetur?</p>
      </div>
    </div>
  </div>




  <div class="last-container">
    <img class="order-img" [defaultImage]="defaultImage2" [lazyLoad]="image2" />
    <div class="last-bottomleft">
      <h2 class="order-text">Made To Order </h2>
      <!-- <h2 class="order-text">&</h2> -->
      <h2 class="order-text margin-bot">& Pick Up</h2>
      <p class="order-info-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad aut quasi molestias. Ipsum
        neque officia vero doloribus error, sequi temporibus. Optio, dolorum. Architecto excepturi, tempore illum eius
        voluptas quas tenetur?</p>

      <button class="order-btn">Order Online</button>
    </div>
  </div>


  <app-footer></app-footer>
</ion-content>
